button{
    border:none;
    border-radius: 2rem;
    background:var(--prime);
    padding: .5em 2em;

}

/* .logo{
    width: 8rem;
    object-fit: contain;
} */



.imgContainer img{
    width: 100%;
}