
:root{

    /* ------------- font properties ------------- */
    
    --baseFontSize:62.5%;           /* equals 10px */
    --primeFontFamily: 'Poppins';     /* Heading/Strong Font */
    --secondaryFontFamily: 'Open Sans';    /* Normal/Content Font */
    --fallbackFontFamily: Verdana, helvetica, sans-serif; /* Fallback Font */

    --regular: 400;
    --bold: 700;
     
    
}

html,button{
    /* font-size: calc( var(--baseFontSize) *1.8); */
}

p,button{
    font-family: var(--secondaryFontFamily), var(--fallbackFontFamily);

}

p{
    font-weight: var(--regular);
}

button{
    font-weight: var(--bold);
}

h1,h2,h3{
    font-family: var(--primeFontFamily);
    font-weight: 600;
}

a{
    text-decoration: none;
    color:#333;
}